@page "/purchase-order/{id}"

@using Gateway.Services
@using Gateway.Data

@inject IPurchaseOrderService PurchaseOrderService

<h3>PurchaseOrder: @PoNumber</h3>

<RadzenText>Date: @PurchaseOrder?.PoDate</RadzenText>
<RadzenText>Items count: @PurchaseOrder?.Items?.Count</RadzenText>

@code {
    private int PoNumber { get; set; }
    private PurchaseOrder? PurchaseOrder { get; set; }

    [Parameter]
    public string id
    {
        get => PoNumber.ToString();
        set => PoNumber = int.Parse(value);
    }

    protected override async Task OnInitializedAsync()
    {
        PurchaseOrder = await PurchaseOrderService.GetPurchaseOrderAsync(PoNumber);
    }

}